
    body{
            height: 500px;
        }
    .preto{
            background-color: black;
            height: 33.33%;
            border-color: black;
        }

    .vermelho{
            background-color: red;
            height: 33.33%;
            border-color: black;
        }

    .amarelo{
            background-color: yellow;
            height: 33.33%;
            border-color: black;
        }
    .branco{
        background-color: white;
        height: 33.33%;
        border-color: black;
    }   
    .azul{
        background-color: blue;
        height: 33.33%;
        border-color: black;
    }     
